[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0074: Use compound assignment
dotnet_style_prefer_compound_assignment = false

# IDE0031: Use null propagation
dotnet_style_null_propagation = false

# IDE0270: Use coalesce expression
dotnet_style_coalesce_expression = false

# IDE0180: Use tuple to swap values
csharp_style_prefer_tuple_swap = false

# IDE0042: Variable declaration can be deconstructed
csharp_style_deconstructed_variable_declaration = false

# IDE0056: Use index operator
csharp_style_prefer_index_operator = false
